.navItem{
  width: 100%;
}

.navbar{
  width: 100%;
  margin-left: 20%;
}

.pubdate{
  float:right;
}

.icoLink {
  height: 75px;
  width: 75px;
  float: right;
  display: inline;
}

.pull-left {
  float: left;
}
